# Ignore all compiled python modules.
*.pyc

# Ignore all sqlite databases.
*.db

# Ignore the venv folder
venv*/

# Ignore the scrap file kladje.py
kladje.py

# Ignore examples worksheet
*Voorbeelden.xlsx